<form action="/subscription/create" method="POST" role="form">
	<legend>Form title</legend>

	<div class="form-group">
		<label for="">Gmail</label>
		<input type="text" class="form-control" name="gmail" placeholder="Input field">
	</div>

	<div class="form-group">
		<label for="">CalendarId</label>
		<input type="text" class="form-control" name="calendarId" placeholder="Input field">
	</div>	

	<button type="submit" class="btn btn-primary">Submit</button>
</form>